<!doctype html>
<html lang="en">
{% load i18n %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>{% translate 'Sign Up' %}</title>

</head>
<body>

<div class="content">

    <div class="holder">

        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit"> {% translate 'Login' %} </button>
            </form>

            <a href="{% url 'account_reset_password' %}">{% translate 'Forget Your Password ?' %}</a>
            <a href="{% url 'account_signup' %}">{% translate 'Sign Up ?' %}</a>
            <a href="{% url 'shop:product_list' %}">{% translate 'Home' %}</a>
        </div>

    </div>


</div>


</body>
</html>