asgiref==3.8.1
Babel==2.12.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==2.1.1
Command==0.1.0
cryptography==38.0.1
defusedxml==0.7.1
distlib==0.3.9
dj-database-url==1.0.0
dj-email-url==1.0.6
Django==5.2
django-allauth==0.51.0
django-cache-url==3.4.2
django-ckeditor==6.7.0
django-crispy-forms==2.4
django-debug-toolbar==4.4.2
django-jazzmin==2.6.0
django-js-asset==2.1.0
django-phonenumber-field==7.1.0
django-rosetta==0.9.8
environ==1.0
environs==9.5.0
filelock==3.17.0
gunicorn==20.1.0
i18n==0.2
idna==3.4
marshmallow==3.18.0
oauthlib==3.2.2
packaging==24.2
phonenumbers==8.13.15
phonenumberslite==8.13.15
pillow==11.2.1
pipdeptree==2.26.1
polib==1.2.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
py==1.11.0
pycparser==2.21
PyJWT==2.6.0
pyparsing==3.0.9
python-dotenv==0.21.0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==79.0.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
