
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(250, 200, 6, 0.32);
    border-radius: 50px;
}

h1 {
    text-align: center;
    color: orange;
}

h4 {
    color: orange;
}

p {
    line-height: 1.6;
}

img {
    width: 5%;
    height: 40px;
    display: inline;
    float: left;
    border-radius: 55%;

}

.contact {
    width: 100%;
}

.contact-p {
    margin-left: 60px;
}

a {
    margin-left: 40%;
    text-decoration: none;
    color: red;
}

