a:hover {
    color: red;
    scale: 1.1;
    transition: 0.4s;
}

a {
    text-decoration: none;
    color: white;
}

#header {
    color: white;
    background-color: #0b1a38;
    margin: 20px auto;
    width: 80%;
    min-height: 740px;
    border-radius: 10px;
    box-shadow: 0 0 10px #4f1310;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

#header > .right_holder {
    float: right;
    width: 48%;
    min-height: 94%;
    border-radius: 8px;
    padding: 3px;

}

#header > .right_holder > div {
    width: 100%;
    min-height: 300px;
    border-radius: 8px;
    font-size: 22px;
    margin-bottom: 30px;
    box-shadow: 0 0 100px red;

}


#header > .right_holder > div > h2 {
    background-color: red;
    width: 50%;
    min-height: 14%;
    border-radius: 0 0 20px 20px;

    margin: auto;
}

#header > .right_holder > div > p {
    width: 50%;
    height: 15%;
    border-radius: 4px;
    margin: 10px auto;
    color: black;
}


#header > .left_holder {
    float: left;
    width: 48%;
    min-height: 94%;
    border-radius: 8px;
    padding: 3px;
}


#header > .left_holder > div {
    width: 100%;
    min-height: 300px;
    border-radius: 8px;
    font-size: 22px;
    border-left: 1px solid white;

}


#header > .left_holder > div > .user_image {
    margin-top:20px;
    height: 200px;
    width: 200px;

}


#header > .left_holder > div > h2 {
    font-size: 27px;
    background-color: red;
    max-width: 70%;
    height: 40px;
    border-radius: 8px;
    margin: auto;
    margin: 30px auto;
}

#header > .left_holder > div > p {
    width: 60%;
    height: 30px;
    border-radius: 8px;
    color: orange;
    margin: 15px auto;
    box-shadow: 0px 0px 1px #61d052;
    overflow: hidden;

}

#header > .left_holder > div > img {
    width: 10%;
    height: 10%;
    border-radius: 40px;
    box-shadow: 0 0 5px #0E2231;
}


.back_to_home {
    width: 25%;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: red;
    border-radius: 4px;
    margin: 15px auto;
}