<!doctype html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/clothing-shop-logo.jpg' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/default-cloth-image.jpg' %}">


    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">

    <title>{% trans 'About Me' %}</title>

</head>
<body>

<header id="header">
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>

    {% endif %}

    <div class="right_holder">
        <div>
            <h2><a href="{% url 'cart:cart_detail' %}">{% trans 'cart' %}</a></h2>
            <br>
            {% if not cart.is_empty %}
                {% for item in cart %}
                    <p><a href="{% url 'shop:product_detail' item.product_obj.id %}"> {{ item.product_obj.title }}</a>
                    </p>
                {% endfor %}
            {% endif %}
        </div>

        <div>
            <h2>{% trans 'Favorites' %}  </h2>
            <br>
            {% for favorite in favorites %}
                <p><a href="{% url 'shop:product_detail' favorite.id %}"> {{ favorite.title }}</a></p>
            {% endfor %}
        </div>

        <div>
            <h2> {% trans 'Orders' %}</h2>
            <br>
            {% if orders %}
                {% for order in orders %}
                    {{ order.date_time_created }} :
                    {% if  order.is_paid %}
                        paid
                    {% else %}
                        not paid
                    {% endif %}

                    <p style="color: white">
                        {% for item in order.items.all %}
                            {{ item.product }}<br>
                            quantity : {{ item.quantity }}<br>
                            color : {{ item.color }}<br>
                            size : {{ item.size }}<br>
                            price : {{ item.price }}
                            <br>-----------------------------<br>

                        {% endfor %}

                    </p>
                    <br><br>
                {% endfor %}
            {% endif %}


        </div>


    </div>


    <div class="left_holder">
        <div>
            {% if user.image %}
                <img class="user_image" src="{{ user.image.url }}" alt="image">
            {% else %}
                <img src="{% static 'img/userlogo.png' %}" alt="image" class="user_image">
            {% endif %}
        </div>

        <div>
            <h2>{% translate ' Welcome to your panel deer ' %} {{ user.username }} </h2>
            <p>  {% translate ' You joined us at ' %}: {{ user.date_joined }}</p>
            <p>  {% translate ' First name ' %}: {{ user.first_name }}</p>
            <p> {% translate ' Last Name ' %}: {{ user.last_name }}</p>

            <p>   {% translate 'Email' %}: {{ user.email }}</p>
            <p>   {% translate 'Number' %}: {{ user.number }}</p>
            {% if user.is_staff %}
                <p> STATUS : STAFF</p>
                <p><a href="../../admin">{% translate 'Panel Admin' %}  </a></p>
                <p>
                    <a href="{% url 'contactus:all_new_contact' %}" class="mainmenu__link">
                        <span class="mm-text"> {% translate 'Notifications' %} </span>
                    </a>
                </p>
                <p><a href="../../rosetta/"> {% trans 'Translation' %} </a></p>
            {% else %}
                <p> STATUS : USER </p>
            {% endif %}

            <p>
                <a href="{% url 'accounts:edit_user_information' user.id %}"> {% translate "Edit Informations" %} </a>
            </p>

            <p>
                <a href=" {% url 'account_change_password' %}"> {% translate "Change Password" %} </a>
            </p>

            <p>
                <a href=" {% url 'account_reset_password' %}"> {% translate "forgot Password" %} </a>
            </p>

            <p>
                <a href="{% url 'account_logout' %}"> {% translate "logout" %}</a>
            </p>
        </div>

        <div>
            <h2> {% trans 'Your Comments' %}</h2>
            {% for comment in comments %}
                {% if comment.product.image %}
                    <img src="{{ comment.product.image.url }}">
                {% else %}
                    <img src="{% static 'img/default-cloth-image.jpg' %}"
                         alt="Product image">
                {% endif %}
                <p><a href="{% url 'shop:product_detail' comment.product.id %}">{{ comment.text }}</a></p>
            {% endfor %}

        </div>

        <div>
            <h2> {% trans 'Your replies Comments' %}</h2>
            {% for reply_comment in reply_comments %}

                {% if reply_comment.reply_product.image %}
                    <img src="{{ reply_comment.reply_product.image.url }}">
                {% else %}
                    <img src="{% static 'img/default-cloth-image.jpg' %}"
                         alt="Product image">
                {% endif %}
                <p> comment :{{ reply_comment.reply_comment.text }} </p>

                <p>
                    <a href="{% url 'shop:product_detail' reply_comment.reply_product.id %}">
                        {% trans 'you replied ' %}: {{ reply_comment.text }}
                    </a>
                </p>
            {% endfor %}


        </div>

    </div>


    <a href="{% url 'shop:product_list' %}" class="back_to_home"> {% trans 'Back To Home' %} </a>
</header>


</body>
</html>