<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/clothing-shop-logo.jpg' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/default-cloth-image.jpg' %}">

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static 'css/_base.css' %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- ************************* js Files ************************* -->
    <script src='{% static 'js/_base.js' %}'> </script>



</head>

<body dir='rtl'>


<!-- Header Start -->
<header class="header" style="background-color: rgba(27,75,33,0.65); color: white">
    <div class="header-inner fixed-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-9 col-lg-8 col-5 col-xs-0 col-none col-sm-block p-0">
                    <nav class="main-navigation">
                        <div class="site-branding" style="margin-right: 30px;">

                            <figure class="logo--normal d-none d-sm-block">
                                <img class="px-10" src="{% static 'img/clothing-shop-logo.jpg' %}"
                                     style="height: 100px;max-height: 150px; width: 200px; margin:1px -100px -15px 10px;"
                                     alt="Logo">
                            </figure>

                        </div>
                        <div class="mainmenu-nav d-none d-lg-block w-100 pr-3">
                            <ul class="mainmenu d-lg-flex jusity-content-end jusity-content-lg-start pt-4">
                                <li class="mainmenu__item menu-item-has-children active">
                                    <a href="{% url 'shop:product_list' %}" class="mainmenu__link">
                                        <span class="mm-text">{% translate 'Home' %}</span>
                                    </a>
                                </li>

                                <li class="mainmenu__item">
                                    {% if user.is_staff %}
                                        <a href="{% url 'contactus:all_new_contact' %}"
                                           class="mainmenu__link header-toolbar__btn  mini-cart-btn">

                                            <span class="mm-text">{% translate ' notifications ' %}</span>
                                            <sup class="mini-cart-count"
                                                 style="width: 40%;">{{ contact|length }},{{ admin_awareness|length }}</sup>
                                        </a>

                                        <a href="/admin" class="mainmenu__link">
                                            <span class="mm-text">{% translate 'Admin Panel' %}</span>
                                        </a>

                                    {% else %}
                                        <a href="{% url 'contactus:user_to_admin_contact' %}" class="mainmenu__link">
                                            <span class="mm-text">{% translate 'contact us' %}</span>
                                        </a>
                                    {% endif %}

                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-7 col-4 p-0">
                    <ul style="width: 500px; padding-left:20px; " class="header-toolbar">
                        <li class="header-toolbar__item">
                            <a href="#searchForm" class="header-toolbar__btn toolbar-btn">

                                <img src="{% static 'img/search.jpg' %}" style="width: 30px; height: 30px">
                            </a>
                        </li>
                        <li class="header-toolbar__item">
                            <a href="{% url 'cart:favorites_list' %}"
                               class="header-toolbar__btn mx-4 header-toolbar__btn mini-cart-btn">
                                {% trans "favorites list" %}
                                <sup class="mini-cart-count">{{ favorites|length }}</sup>
                            </a>
                        </li>

                        <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn base_cart"
                           style="margin-left: 20px">
                            {% translate "cart" %}
                            <sup class="mini-cart-count">{{ cart|length }}</sup>
                        </a>

                        <li class="header-toolbar__item user-info" style="margin-left:30px;">
                            {% if user.is_authenticated %}
                                <a href="{% url 'accounts:profile' %}"
                                   class="header-toolbar__btn">{{ user.username }}</a>
                            {% else %}
                                <i class=""> {% translate 'LOGIN ' %}</i>
                            {% endif %}

                            <ul class="user-info-menu">
                                {% if user.is_authenticated %}
                                    <li style="transition: 1s;">
                                        <a class="text-right"
                                           href="{% url 'account_logout' %}">{% translate 'Logout' %}</a>
                                    </li>
                                    <li>
                                        <a class="text-right"
                                           href="{% url 'accounts:profile' %}">{% translate 'Profile' %}</a>


                                    </li>
                                {% else %}
                                    <li>
                                        <a class="text-right"
                                           href="{% url 'account_login' %}">{% translate 'Login' %}</a>
                                    </li>
                                    <li>
                                        <a class="text-right"
                                           href="{% url 'account_signup' %}">{% translate 'Signup' %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

{% block messages %}

{% endblock %}
{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="text-align: center">{{ message }}</div>
        {% endfor %}
    </div>

{% endif %}

<!-- Search form Popup Start -->
<div class="searchform__popup" id="searchForm">
    <a href="{% url 'shop:search_product_view' %}" class="btn-close">
        <img src="{% static 'img/icons8-cross.gif' %}" alt="cancel">
    </a>

    <div class="searchform__body">
        <p>{% translate ' type your letters , then push enter' %} </p>
        <form method="POST" action="{% url 'shop:search_product_view' %}">
            {% csrf_token %}
            <input type="text" name="text" id="popup-search" class="searchform__input"
                   placeholder={% translate ' search product' %}>
            <button type="submit" class="searchform__submit"></button>
        </form>
    </div>
</div>
<!-- Search form Popup End -->
{% block content %}


{% endblock %}

{% include 'footer.html' %}

<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="{% static 'js/vendor.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

<!-- _base JS -->
<script src="{% static 'js/_base.js' %}"></script>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

</body>
</html>