{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans 'Home' %}</title>
</head>
<body>

{% if messages %}
    {% for message in messages %}
        <div class="{{ message.tags }}"> {{ message }}</div>
    {% endfor %}
{% endif %}


how many in cart : {{ cart|length }}
<a href="{% url 'clear_cart' %}"> clear</a>
{% block content %}



    sabad kharid :{% for cart in cart %}
                      {{ cart.product_obj.title }}
                   {% endfor %}



{% endblock %}

</body>
</html>