{% load static %}
{% load i18n %}

<!-- Footer Start-->
<footer class="footer">
    <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="footer-widget mb--50">
                        <div class="textwidget">
                            <img src="{% static 'img/iconA.png' %}" alt="Logo">
                            <a href="{% url 'aboutme' %}"> {% translate 'Created by ALi / About me' %}  </a>
                        </div>
                    </div>
                    <div class="footer-widget mb--50 pb--1">
                        <ul class="footer-menu">

                            <br>
                            <br>
                            <li>
                                <a href="{% url 'rules' %}">
                                    <img height="12%" width="13%" src="{% static 'img/Rules.png' %} ">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        {% translate 'All Rights Reserved' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->